<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <title><%=@current_reading%></title>
  </head>
  <body>
  <div class="body">
    <h1>Pollutants Standards Index for <%=current_time(Time.now.hour)%>:</h1>
    <h1 id="current_reading">
      <%=@current_reading%>
    </h1>
    <div class="status">
      <h1 id="status"><span id="status"></span></h1>
    </div>
    <center><div id="container"></div></center>
  <div style="height:10%" class="footer">
    <h3>&copy; built with all concern by Jethro ):</h3>
    <h6>DISCLAIMER: Hourly PSI are calculated using a very terrible algorithm now, and should be taken with buckets of salt</h6>
  </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function () { 
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'PSI Data for Singapore (Scrubbed from NEA)'
        },
        xAxis: {
            categories: <%=@three_hour_data.keys.to_s%>
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        series: [{
            name: '3 Hour PSI Moving Average',
            data: <%=@three_hour_data.values.to_s.gsub(/"/,'')%>
        }, {
            name: 'Hourly Estimated PSI',
            data: <%=@hourly_data.values.to_s.gsub(/"/,'').gsub("-","")%>
        }]
    });
});
  </script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      if(<%=@current_reading.to_i%> > 300) {
        $("h1#status").text("Hazardous!")
        $("div.body").css("background-color","#ff0000")
        $("h1#status").css("color","#ff0000")
      }
      else if (201< <%=@current_reading.to_i%> < 300 ) {
        $("h1#status").text("Very Unhealthy!")
        $("div.body").css("background-color","#ff6000")
        $("h1#status").css("color","#ff6000")
      }
      else if (101< <%=@current_reading.to_i%> < 200 ) {
        $("h1#status").text("Unhealthy!")
        $("div.body").css("background-color","#ffdd00")
        $("h1#status").css("color","#ffdd00")
      }
      else if (51< <%=@current_reading.to_i%> < 100 ) {
        $("h1#status").text("Moderate")
        $("div.body").css("background-color","#ddff00")
        $("h1#status").css("color","#ddff00")
      }
      else{
        $("h1#status").text("Good")
        $("div.body").css("background-color","#22ff00")
        $("h1#status").css("color","#22ff00")
      }
    });
  </script>
  </body>
  </html>
